*.o
*.lo
*.la
.deps/
.deps/
.deps/
.libs/
.libs/
.libs/
Makefile
libtool

*.diff

/nbproject

.lock-waf_darwin_build

check.pc
config.h
config.log
config.status
src/exported.sym

stamp-h1
tests
tests/check_check_export
tests/check_stress
tests/check_thread_stress
tests/ex_log_output
tests/ex_output
tests/ex_xml_output
tests/test_vars
build

.waf*
